@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

html {
    background-color: #292c33;
}

body {
    width: fit-content;
    margin: auto;
    font-family: 'Open Sans', sans-serif;
    color: #cccccc;
    p{
        font-size: 2.5vh;
    }
    h1 {
        font-size: 3.5vh;
    }
    a {
        color: #909090;
        text-decoration: none;
        &:hover {
            color: #dddddd;
        }
    }
    header {
        a, p {
            margin-right: 1.2em;
        }
        * {
            display: inline;
        }
    }
    img {
        display: block;
        width: 100%;
	margin: auto;     
    }
}
